@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova semibold";
    src: url('../fonts/proximanova-semibold.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Proxima Nova Regular';
}
